
body
    padding 10px
    fs: 0.8rem

.hidden
    display none

.no-top-margin
    margin-top 0

.flash-error
    flash: 'error'

section
    margin-top 20px
    margin-bottom 20px


// --------- @debug -----------
#debug-console
    width: 50%
    height 200px
    background-color black
    opacity 0.8
    font-family Consolas
    font-size 14px
    color #fefefe
    position fixed
    top 10px
    right 10px
    z-index 999
// --------- /@debug ----------


#get-forecast
    button: blue